<!DOCTYPE html>
<html>
<head>
  <title>About Us - Finsent</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='aboutstyle.css') }}">


</head>
<body>
  <header>
    <h1>About Us - <a href="/">Finsent </a></h1>
  </header>
  <section>
    <h2>How It Works</h2>
    <p>At Finsent, we understand the importance of staying up to date with the latest news and trends in the stock market. Our process begins by collecting news articles and data from various sources across the internet. We employ web scraping techniques to gather relevant information related to different stocks.

        Once we have acquired the necessary data, we pass it through our powerful machine learning model. This model has been trained extensively to analyze the sentiment expressed in each news article. It classifies the sentiment as positive, negative, or neutral, providing a comprehensive overview of the general sentiment towards a particular stock.
        
        The sentiment analysis performed by our machine learning model takes into account a range of factors, including the tone of the article, the sentiment of key phrases, and the overall context. This allows us to provide you with a well-rounded perspective on the sentiment surrounding a stock.</p>
  </section>
  <section>
    <h2>Our Team</h2>
    <p>Finsent is a dedicated team of finance enthusiasts and data scientists who are passionate about empowering individuals in their investment journeys. Our diverse team brings together expertise in finance, machine learning, and web development to create a robust and user-friendly platform.

        We continually strive to enhance our algorithms and improve the accuracy of our sentiment analysis. Our goal is to ensure that our users receive reliable and actionable information, enabling them to make sound investment decisions.</p>
  </section>
  <footer>
    <p>&copy; 2023 Finsent. All rights reserved.</p>
  </footer>
</body>
</html>
